<form method="POST" action="/add">
    <!-- <input type="text" placeholder="ma Sinh Vien" name="masinhvien"/> -->
    <input type="text" placeholder="Ten" name="ten"/>
    <input type="text" placeholder="so dien thoai" name="sdt"/>
    <input type="file"  name="image"/>
    <button type="button">Submit</button>
</form>